@import './Menu/Menu.scss', '../../Desks/Desks.scss', '../../Mode/Mode.scss', './Cursor/Cursor.scss';

.layout {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--black-50);

    &__background {
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        position: absolute;

        video {
            z-index: -3;
            width: 100vw;
            height: 100vh;
            object-fit: cover;
            position: relative;
        }

        img {
            &[alt="striga"] {
                z-index: -3;
                object-fit: cover;
                transform: scaleX(-1);
            }

            &[alt="grunge-square"] {
                z-index: -1;
                width: calc(100vw + 7%) !important;
                height: calc(100vh + 6%) !important;
                transform: translate(-1%, -4%) scale(-1, 1);
                filter: drop-shadow(0 1px 1px var(--black-50));
            }

            &[alt="grunge-mess"] {
                z-index: -2;
                width: calc(100vw + 7%) !important;
                height: calc(100vh + 6%) !important;
                transform: translate(-1%, -4%) scale(-1, 1);
                filter: drop-shadow(0 1px 1px var(--black-50));
            }
        }
    }

    &__content {
        gap: 40px 0;
        height: auto;
        display: flex;
        max-width: 50%;
        position: absolute;
        border-radius: 15px;
        align-items: center;
        transform: scale(1);
        animation: fadeIn 0.5s;
        min-width: fit-content;
        justify-content: center;
        transition: transform var(--transition-30);
    }

    &__loading {
        width: 99vw;
        height: 5vh;
        bottom: 15px;
        position: fixed;
    
        &-inverse {
            width: 100%;
            height: 100%;
            position: relative;
        }
    
        &-img {
            &--normal {
                filter: drop-shadow(0 4px 10px var(--black-50));
            }
    
            &--inverted {
                filter: invert(1);
                transition: var(--transition-30);
            }
        }
    }
}

@media (max-width: 860px) or (max-height: 1080px) {
    .layout__content {
        transform: scale(0.8);
    }
}

@media (max-width: 690px) or (max-height: 860px) {
    .layout__content {
        transform: scale(0.6);
    }
}

@media (max-width: 520px) or (max-height: 690px) {
    .layout__content {
        transform: scale(0.5);
    }
}

@media (max-width: 430px) or (max-height: 520px) {
    .layout__content {
        transform: scale(0.4);
    }
}

@media (max-width: 350px) or (max-height: 430px) {
    .layout__content {
        transform: scale(0.3);
    }
}