@import './Menu/Menu.scss', '../../Desks/Desks.scss', '../../Mode/Mode.scss';

.layout {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--black-50);

    &__background {
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        position: absolute;

        img {
            &[alt="striga"] {
                z-index: -3;
                object-fit: cover;
                transform: scaleX(-1);
            }

            &[alt="grunge-square"] {
                z-index: -1;
                width: calc(100vw + 7%) !important;
                height: calc(100vh + 6%) !important;
                transform: translate(-1%, -4%) scale(-1, 1);
            }

            &[alt="grunge-mess"] {
                z-index: -2;
                width: calc(100vw + 7%) !important;
                height: calc(100vh + 6%) !important;
                transform: translate(-1%, -4%) scale(-1, 1);
            }
        }
    }

    &__back {
        top: 20px;
        left: 25px;
        opacity: 0.5;
        cursor: pointer;
        position: absolute;
        transform: scale(-1, -1);
        transition: var(--transition-30);

        &:hover {
            opacity: 0.8;
        }
    }

    &__content {
        gap: 40px 0;
        height: auto;
        display: flex;
        padding: 50px;
        max-width: 50%;
        position: absolute;
        border-radius: 15px;
        align-items: center;
        animation: fadeIn 0.5s;
        min-width: fit-content;
        justify-content: center;
        transition: transform var(--transition-30);
    }
}

@media (min-width: 800px) or (max-width: 1400px) {
    .layout__content {
        transform: scale(1);
    }
}

@media (max-width: 800px) {
    .layout__content {
        transform: scale(0.8);
    }
}

@media (max-width: 650px) {
    .layout__content {
        transform: scale(0.6);
    }
}

@media (max-width: 500px) {
    .layout__content {
        transform: scale(0.5);
    }
}

@media (max-width: 390px) {
    .layout__content {
        transform: scale(0.4);
    }
}

@media (max-width: 320px) {
    .layout__content {
        transform: scale(0.3);
    }
}