.controls {
    gap: 10px 0;
    right: 15px;
    bottom: 15px;
    width: 200px;
    display: flex;
    position: absolute;
    flex-direction: column;

    &__start, &__roll, &__history, &__settings {
        width: 100%;
        height: 45px;
        display: flex;
        cursor: pointer;
        font-size: 25px;
        transition: 0.3s;
        text-align: center;
        align-items: center;
        justify-content: center;
        background: rgba(0, 0, 0, 0.65);
        color: rgba(255, 255, 255, 0.5);
        border: 1px solid rgba(255, 255, 255, 0.5);

        &--disabled {
            cursor: default;
            color: rgba(255, 255, 255, 0.2);
            border: 1px solid rgba(255, 255, 255, 0.2);
        }

        &:hover:not(&--disabled) {
            color: rgba(0, 0, 0, 0.65);
            background: rgba(255, 255, 255, 0.35);
        }
    }

    &__start {
        &--loading {
            &:before, &:after {
                content: '';
                position: absolute;
                left: -1px;
                top: -1px;
                background: linear-gradient(45deg, #000000, #484848, #787878,#b8b8b8, #ffffff, #000000, 
                    #484848, #787878,#b8b8b8, #ffffff);
                background-size: 400%;
                width: calc(100% + 5px);
                height: 49px;
                z-index: -1;
                animation: steam 10s linear infinite;
            }
    
            &:after {
                filter: blur(2px);
            }
        }
    }
}