.modal {
    top: 0;
    left: 0;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    position: fixed;
    animation: fadeIn 0.3s;
    transition: opacity 0.5s;
    background: rgba(0, 0, 0, 0.95);

    &.closing {
        opacity: 0;
    }

    &__window {
        top: 50%;
        left: 50%;
        z-index: 11;
        width: 500px;
        display: flex;
        min-height: 250px;
        position: absolute;
        align-items: center;
        border-radius: 15px;
        flex-direction: column;
        padding: 20px 20px 55px;
        transform: translate(-50%, -50%);
        transition: transform var(--transition-30);
    }

    &__title {
        font-size: 30px;
        text-align: center;
        color: var(--white-50);
    }

    &__main {
        flex: 1;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__footer {
        width: 100%;
        display: flex;
        align-items: center;
        color: var(--white-50);
        justify-content: space-between;
    }
}

@media (min-width: 900px) or (min-height: 900px) {
    .modal__window {
        transform: translate(-50%, -50%) scale(1.5);
    }
}

@media (max-width: 900px) or (max-height: 900px) {
    .modal__window {
        transform: translate(-50%, -50%) scale(1.2);
    }
}

@media (max-width: 700px) or (max-height: 700px) {
    .modal__window {
        transform: translate(-50%, -50%) scale(1);
    }
}

@media (max-width: 600px) or (max-height: 600px) {
    .modal__window {
        transform: translate(-50%, -50%) scale(0.8);
    }
}

@media (max-width: 500px) or (max-height: 500px) {
    .modal__window {
        transform: translate(-50%, -50%) scale(0.6);
    }
}

@media (max-width: 350px) or (max-height: 350px) {
    .modal__window {
        transform: translate(-50%, -50%) scale(0.4);
    }
}