.modal {
    top: 0;
    left: 0;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    position: fixed;
    animation: fadeIn 0.3s;
    transition: opacity 0.5s;
    background: rgba(0, 0, 0, 0.8);

    &.closing {
        opacity: 0;
    }

    &__window {
        top: 50%;
        left: 50%;
        z-index: 11;
        width: 500px;
        display: flex;
        min-height: 250px;
        position: absolute;
        align-items: center;
        border-radius: 15px;
        flex-direction: column;
        padding: 20px 20px 55px;
        transform: translate(-50%, -50%);
        background-color: rgba(0, 0, 0, 0.5);
        box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.5);
    }

    &__title {
        font-size: 30px;
        color: rgba(255, 255, 255, 0.5);
    }
}

@keyframes fadeIn {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}