.placeholder {
    --square: 80px;
    --half-square: calc(var(--square) / 2);
    --cube: calc(var(--square) + var(--half-square));

    &__wrapper {
        width: var(--square);
        height: var(--square);
    }

    &__cube {
        z-index: -1;
        display: block;
        position: absolute;
        width: var(--cube);
        height: var(--cube);
        transform: translate(-15px, 15px) rotateX(45deg) rotateZ(45deg);
    }
}