.notifications {
    left: 0;
    top: 15px;
    z-index: 100;
    position: fixed;
    transition: var(--transition-30);

    &__notification {
        font-size: 25px;
        margin-left: 15px;
        position: relative;
        color: var(--white-50);
        padding: 8px 36px 8px 12px;
        background: var(--black-50);
        transition: var(--transition-30);
        border: 2px solid var(--black-50);
    
        &.opened {
            animation: movingRight 0.3s;
        }
    
        &.closed {
            transform: translate(-150%);
        }
    }

    &__close {
        top: 12px;
        right: 8px;
        width: 20px;
        height: 20px;
        cursor: pointer;
        position: absolute;

        &::before, &::after {
            top: 50%;
            content: '';
            width: 20px;
            height: 1px;
            display: flex;
            position: absolute;
            background: var(--white-50);
        }

        &::before {
            transform: rotate(45deg);
        }

        &::after {
            transform: rotate(-45deg);
        }
    }
}

@keyframes movingRight {
    from {
        transform: translate(-150%);
    }
    to {
        transform: translate(0%);
    }
}