.history {
    ul {
        color: white;
        text-align: left;
        list-style-type: none;
        align-self: self-start;
        margin-block: 8px;
        padding-inline-start: 20px;
        color: rgba(255, 255, 255, 0.5);
    }
    
    &__no-data {
        top: 50%;
        left: 50%;
        font-size: 20px;
        position: absolute;
        transform: translate(-50%, -50%);
        color: rgba(255, 255, 255, 0.5);
    }

    &__button {
        left: 50%;
        width: 100px;
        height: 30px;
        bottom: 20px;
        display: flex;
        cursor: pointer;
        position: absolute;
        align-items: center;
        justify-content: center;
        transform: translateX(-50%);
        color: rgba(255, 255, 255, 0.5);
    }
}
