.cube {
    transition: 1s;
    width: var(--square);
    height: var(--square);
    transform-style: preserve-3d;
    
    &:hover {
        cursor: pointer;
    }

    &-1, &-null {
        transform: rotateX(45deg) rotateZ(45deg);
    }

    &-2 {
        transform: rotateX(-135deg) rotateZ(45deg);
    }

    &-3 {
        transform: rotateX(315deg) rotateY(135deg) rotateZ(270deg);
    }

    &-4 {
        transform: rotateX(135deg) rotateY(135deg) rotateZ(270deg);
    }

    &-5 {
        transform: rotateX(-45deg) rotateY(45deg);
    }

    &-6 {
        transform: rotateX(-225deg) rotateY(45deg);
    }

    &-roll {
        translate: 0px calc(var(--half-square) * -1);
    }

    --pos-12-5: 12.5px;
    --pos-52-5: 52.5px;

    .front {
        transform: translateZ(var(--half-square));
    }

    .back {
        transform: rotateX(-180deg) translateZ(var(--half-square));

        .dot1 { top: var(--pos-12-5); left: var(--pos-12-5); }
        .dot2 { top: var(--pos-52-5); left: var(--pos-52-5); }
    }

    .right {
        transform: rotateY(90deg) translateZ(var(--half-square));

        .dot1 { top: var(--pos-12-5); left: var(--pos-12-5); }
        .dot3 { top: var(--pos-52-5); left: var(--pos-52-5); }
    }

    .left {
        transform: rotateY(-90deg) translateZ(var(--half-square));

        .dot1 { top: var(--pos-12-5); left: var(--pos-12-5); }
        .dot2 { top: var(--pos-52-5); left: var(--pos-12-5); }
        .dot3 { top: var(--pos-12-5); left: var(--pos-52-5); }
        .dot4 { top: var(--pos-52-5); left: var(--pos-52-5); }
    }

    .top {
        transform: rotateX(90deg) translateZ(var(--half-square));

        .dot1 { top: var(--pos-12-5); left: var(--pos-12-5); }
        .dot2 { top: var(--pos-52-5); left: var(--pos-12-5); }
        .dot3 { top: var(--pos-12-5); left: var(--pos-52-5); }
        .dot4 { top: var(--pos-52-5); left: var(--pos-52-5); }
    }

    .bottom {
        transform: rotateX(-90deg) translateZ(var(--half-square));

        .dot1 { top: var(--pos-12-5); left: var(--pos-12-5); }
        .dot2 { top: 50%; transform: translateY(-50%); left: var(--pos-12-5); }
        .dot3 { top: var(--pos-52-5); left: var(--pos-12-5); }
        .dot4 { top: var(--pos-12-5); left: var(--pos-52-5); }
        .dot5 { top: 50%; transform: translateY(-50%); left: var(--pos-52-5); }
        .dot6 { top: 52.2px; left: var(--pos-52-5); }
    }

    .front, .back, .right, .left, .top, .bottom {
        border-radius: 2px;
        position: absolute;
        width: var(--square);
        height: var(--square);
        background: #000000;
        outline: 2px solid rgba(255, 255, 255, 0.3);
    }

    .dot {
        width: 15px;
        height: 15px;
        display: block;
        position: absolute;
        border-radius: 15px;  
        background: var(--white-50);

        &__centered {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
      }
}

.cube-wrapper {
    --square: 80px;
    --half-square: calc(var(--square) / 2);
    transition: var(--transition-30);

    .cube {
        &-status {
            z-index: -1;
            display: block;
            position: absolute;
            width: var(--square);
            height: var(--square);
            transition: var(--transition-30);
            background-color: var(--black-50);
            box-shadow: 0 0 10px 10px var(--black-50);
            transform: translate(0px, -50px) rotateX(45deg) rotateZ(45deg);

            &__selected {
                background-color: var(--white-35);
                box-shadow: 0 0 10px 10px var(--white-35);
            }
        }
    }

    &__selected {
        transform: translate(0px, -10px);

        .cube-status {
            transform: translate(0px, calc(var(--half-square) * -1)) rotateX(45deg) rotateZ(45deg);
        }
    }
}