@import './Create/Create.scss';

.desks {
    gap: 10px 0;
    width: 600px;
    height: 300px;
    padding: 25px;
    display: flex;
    position: relative;
    border-radius: 15px;
    flex-direction: column;

    &__header {
        width: 100%;
        display: flex;
        font-size: 25px;
        color: var(--white-50);
        justify-content: space-between;
    }

    &__create {
        cursor: pointer;
        transition: var(--transition-30);

        &:hover {
            color: var(--white-35);
        }
    }

    &__list {
        display: flex;
        overflow-y: auto;
        flex-direction: column;
    }

    &__empty {
        top: 50%;
        left: 50%;
        cursor: default;
        font-size: 20px;
        position: absolute;
        color: var(--white-50);
        transform: translate(-50%, -50%);
    }
}

.list {
    &__desk {
        gap: 0 15px;
        display: flex;
        padding: 0 10px;
        min-height: 40px;
        max-height: 40px;
        align-items: center;
        border: 1px solid transparent;
        justify-content: space-between;
        transition: var(--transition-30);

        &:hover {
            border: 1px solid var(--white-20);
            background-color: rgba(255, 255, 255, 0.05);
        }
    }

    &__title {
        cursor: default;
        font-size: 20px;
        color: var(--white-50);
    }

    &__players {
        margin-left: auto;
        color: var(--white-50);
    }

    &__join, &__share {
        cursor: pointer;
        color: var(--white-50);
        transition: var(--transition-30);

        &--disabled {
            cursor: default;
            color: var(--white-20);
        }

        &:hover:not(&--disabled) {
            color: var(--white-35);
        }
    }
}