@import './Create/Create.scss';

.desks {
    gap: 10px 0;
    width: 600px;
    padding: 25px;
    display: flex;
    position: relative;
    border-radius: 15px;
    flex-direction: column;

    &__header {
        width: 100%;
        display: flex;
        font-size: 25px;
        color: var(--white-50);
        justify-content: space-between;
    }

    &__create {
        left: 50%;
        bottom: 25px;
        opacity: 0.5;
        cursor: pointer;
        filter: invert(1);
        position: absolute;
        transform: translateX(-50%);
        transition: var(--transition-30);

        &:hover {
            opacity: 0.8;
        }
    }

    &__list {
        gap: 10px 0;
        display: flex;
        max-height: 70vh;
        overflow-y: auto;
        overflow-x: hidden;
        flex-direction: column;
    }

    &__empty {
        top: 50%;
        left: 50%;
        cursor: default;
        position: absolute;
        transform: translate(-50%, -50%);
    }
}

.list {
    &__desk {
        gap: 0 15px;
        opacity: 0.8;
        display: flex;
        min-height: 60px;
        max-height: 60px;
        position: relative;
        align-items: center;
        padding: 0 70px 0 65px;
        justify-content: space-between;
        transition: var(--transition-30);

        &--disabled {
            opacity: 0.5;

            .list {
                &__background, &__share {
                    cursor: default;
                }
            }  
        }

        &:hover:not(&--disabled) {
            .list {
                &__background {
                    filter: invert(0.8);
                }

                &__title, &__players, &__share {
                    color: var(--black-80);
                }

                &__share {
                    &--disabled {
                        cursor: default;
                        color: var(--black-20);
                    }

                    &:hover {
                        color: var(--black-50);
                    }
                }
            }
        }
    }

    &__background {
        z-index: -1;
        cursor: pointer;
        transform: rotate(-0.5deg);
        transition: var(--transition-30);
    }

    &__title, &__players, &__share {
        font-size: 20px;
        color: var(--white-50);
        transition: var(--transition-30)
    }

    &__title {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    &__title, &__players {
        cursor: default;
    }

    &__players {
        margin-left: auto;
    }

    &__share {
        cursor: pointer;

        &--disabled {
            cursor: default;
            color: var(--white-20);
        }

        &:hover:not(&--disabled) {
            color: var(--white-50);
        }
    }
}