@keyframes appFadeIn {
    from {
        z-index: 999999;
        background: black;
    }
    to {
        z-index: 0;
        pointer-events: none;
        background: transparent;
    }
}

@keyframes appFadeOut {
    from {
        z-index: 0;
        background: transparent;
    }
    to {
        z-index: 999999;
        background: black;
    }
}

@keyframes videoFadeIn {
    from {
        background: black;
    }
    to {
        background: transparent;
    }
}

@keyframes videoFadeOut {
    from {
        background: transparent;
    }
    to {
        background: black;
    }
}

#video {
    top: 0;
    left: 0;
    z-index: -4;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
}

#video__overlay {
    &--switcher {
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        position: fixed;
    }

    &--background {
        top: 0;
        left: 0;
        z-index: -3;
        width: 100vw;
        height: 100vh;
        position: fixed;
    }

    &--undervideo {
        top: 0;
        left: 0;
        z-index: -5;
        width: 100vw;
        height: 100vh;
        position: fixed;
        background: black;
    }
}