@import './Placeholder/Placeholder.scss';

.hand {
    display: flex;
    position: relative;
    flex-direction: column;

    &__header {
        width: 100%;
        display: flex;
        text-align: start;
        color: var(--white-50);
        justify-content: space-between;
    }

    &__cubes {
        display: flex;
    }

    .caretaker {
        top: 2px;
        left: -35px;
        opacity: 0.5;
        filter: invert(1);
        position: absolute;
    }
}
