.countdown {
    left: 50%;
    bottom: 50px;
    position: absolute;
    color: var(--white-50);
    transition: opacity 0.3s;
    transform: translateX(-50%);

    &.closing {
        opacity: 0;
    }
}