.conclusion {
    &__round {
        font-size: 30px;
        margin-top: 10px;
        color: rgba(255, 255, 255, 0.5);
    }

    &__pool {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-ranking {
            gap: 10px 0;
            width: 150px;
            display: flex;
            font-size: 25px;
            text-align: center;
            align-items: center;
            flex-direction: column;
            align-self: flex-start;
            color: rgba(255, 255, 255, 0.5);
        }
    }

    &__wins {
        width: 150px;
        height: 75px;
        display: flex;
        font-size: 25px;
        position: relative;
        text-align: center;
        align-items: center;
        justify-content: center;
        color: rgba(255, 255, 255, 0.5);

        &-counter {
            top: 20px;
            font-size: 20px;
            position: absolute;
            left: calc(50% - 6px);
        }
    }

    &__history {
        bottom: 40px;
        font-size: 16px;
        cursor: pointer;
        transition: 0.3s;
        position: absolute;
        color: rgba(255, 255, 255, 0.5);

        &:hover {
            color: rgba(255, 255, 255, 0.35);
        }
    }

    &__button {
        left: 50%;
        bottom: 5px;
        width: 100px;
        display: flex;
        cursor: pointer;
        transition: 0.3s;
        position: absolute;
        align-items: center;
        justify-content: center;
        transform: translateX(-50%);
        color: rgba(255, 255, 255, 0.5);

        &:hover {
            color: rgba(255, 255, 255, 0.35);
        }
    }
}