@import './Form/Form.scss';

.settings {
    &__main {
        flex: 1;
        gap: 10px 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    &__buttons {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    &__button {
        display: flex;
        cursor: pointer;
        color: var(--white-50);
        transition: var(--transition-30);

        &:hover {
            color: var(--white-35);
        }
    }
}
