@import './Cubes/Cubes.scss';

.desk {
    display: flex;
    flex-direction: column;

    &__header {
        position: relative;
        display: flex;
        font-size: 30px;
        justify-content: space-between;
        color: rgba(255, 255, 255, 0.5);
    }

    &__cubes {
        display: flex;
        flex-direction: column;
        gap: 30px 0;
    }

    &__history {
        cursor: pointer;
        transition: 0.3s;

        &:hover {
            color: rgba(255, 255, 255, 0.35);
        }
    }

    &__status {
        left: 50%;
        top: -40px;
        cursor: default;
        position: absolute;
        transform: translateX(-50%);
    }

    &__roll {
        border: 0;
        cursor: pointer;
        transition: 0.3s;
        background-color: transparent;

        &:hover:not(&--disabled) {
            color: rgba(255, 255, 255, 0.35);
        }

        &--disabled {
            color: rgba(255, 255, 255, 0.2);
        }
    }
}