.form {
    &__field {
        width: 200px;
        display: flex;
    }

    &__label {
        color: var(--white-50);
    }

    &__input {
        border: 0;
        width: 115px;
        outline: none;
        margin-left: auto;
        color: var(--white-50);
        border: 1px solid var(--white-50);
        background-color: rgba(0, 0, 0, 0.1);
    }
}
