.conclusion {
    &__history {
        bottom: -5px;
        font-size: 16px;
        position: absolute;
        color: rgba(255, 255, 255, 0.5);
    }

    &__pool {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-ranking {
            width: 150px;
            height: 100px;
            display: flex;
            font-size: 25px;
            text-align: center;
            align-items: center;
            justify-content: center;
            color: rgba(255, 255, 255, 0.5);
        }
    }

    &__wins {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-count {
            width: 150px;
            height: 100px;
            display: flex;
            font-size: 25px;
            text-align: center;
            align-items: center;
            justify-content: center;
            color: rgba(255, 255, 255, 0.5);
        }
    }

    &__button {
        left: 50%;
        width: 100px;
        height: 30px;
        bottom: 20px;
        display: flex;
        cursor: pointer;
        position: absolute;
        align-items: center;
        justify-content: center;
        transform: translateX(-50%);
        color: rgba(255, 255, 255, 0.5);
    }
}