@import './Cube/Cube.scss';


.cubes {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;

    &__container {
        gap: 0 60px;
        height: 80px;
        display: flex;
        margin-top: 30px;
    }

    &__roll {
        top: -40px;
        cursor: pointer;
        font-size: 40px;
        position: absolute;
        color: rgba(255, 255, 255, 0.5);
    }
}
