.credentials {
    &__main {
        flex: 1;
        gap: 0 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__name {
        display: flex;
        align-items: center;
        color: var(--white-50);
    }

    &__input {
        border: 0;
        outline: none;
        color: var(--white-50);
        border: 1px solid var(--white-50);
        background-color: rgba(0, 0, 0, 0.1);
    }

    &__footer {
        width: 100%;
        display: flex;
        align-items: center;
        color: var(--white-50);
        justify-content: space-around;
    }

    &__continue, &__close {
        color: var(--white-50);
        transition: var(--transition-30);

        &:hover {
            color: var(--white-35);
        }
    }
}