.cube {
    width: 80px;
    height: 80px;
    display: flex;
    cursor: pointer;
    font-size: 40px;
    transition: 0.3s;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 10px 0px rgba(255, 255, 255, 0.5);

    &.selected {
        box-shadow: 0 0 10px 0px rgb(210 175 46);
    }
}