.history {
    &__no-data {
        top: 50%;
        left: 50%;
        font-size: 20px;
        position: absolute;
        color: var(--white-50);
        transform: translate(-50%, -50%);
    }

    &__button {
        left: 50%;
        width: 100px;
        height: 30px;
        bottom: 20px;
        display: flex;
        cursor: pointer;
        position: absolute;
        align-items: center;
        color: var(--white-50);
        justify-content: center;
        transform: translateX(-50%);
        transition: var(--transition-30);

        &:hover {
            color: var(--white-35);
        }
    }

    &__rounds {
        display: flex;
        overflow-y: auto;
        max-height: 40vh;
        align-items: center;
        flex-direction: column;
    }

    &__round {
        font-size: 20px;
        margin-top: 10px;
        color: var(--white-50);
    }

    &__stage {
        margin: 10px 0;
        font-size: 20px;
        color: var(--white-50);
    }

    &__ranking {
        display: flex;
        flex-direction: column;
    }

    &__header {
        display: flex;
        padding: 0 10px;
        justify-content: space-between;
    }

    &__player, &__value {
        font-size: 20px;
        color: var(--white-50);
    }

    &__cubes {
        display: flex;
        margin: 10px 0;
        justify-content: space-between;
    }

    &__cube {
        transform: scale(0.5);
    }
}
