.history {
    &__no-data {
        top: 50%;
        left: 50%;
        font-size: 20px;
        position: absolute;
        color: var(--white-50);
        transform: translate(-50%, -50%);
    }

    &__button {
        left: 50%;
        width: 100px;
        height: 30px;
        bottom: 20px;
        display: flex;
        cursor: pointer;
        position: absolute;
        align-items: center;
        color: var(--white-50);
        justify-content: center;
        transform: translateX(-50%);
        transition: var(--transition-30);

        &:hover {
            color: var(--white-35);
        }
    }

    &__rounds {
        display: flex;
        overflow-y: auto;
        max-height: 40vh;
        align-items: center;
        flex-direction: column;
    }

    &__round {
        font-size: 20px;
        margin-top: 10px;
        color: var(--white-50);
    }

    &__stage {
        margin: 10px 0;
        font-size: 20px;
        color: var(--white-50);
    }

    .row {
        &__header {
            font-size: 20px;
            padding: 0 10px;
            width: calc(100% - 20px);
        }

        &__cubes {
            gap: 0;
            margin: 10px 0;
        }
    
        .cube-wrapper {
            scale: 0.5;
        }
    }
}
