.history {
    &__no-data {
        top: 50%;
        left: 50%;
        font-size: 20px;
        position: absolute;
        color: var(--white-50);
        transform: translate(-50%, -50%);
    }

    &__button {
        left: 50%;
        bottom: 0px;
        position: absolute;
        transform: translateX(-50%);
        @include modal-button-img;
    }

    &__rounds {
        display: flex;
        overflow-y: auto;
        max-height: 50vh;
        overflow-x: hidden;
        align-items: center;
        flex-direction: column;
    }

    &__round {
        font-size: 20px;
        margin-top: 10px;
        color: var(--white-50);
    }

    &__stage {
        margin: 10px 0;
        font-size: 20px;
        color: var(--white-50);
    }

    .hand {
        &__header {
            font-size: 20px;
            padding: 0 10px;
            width: calc(100% - 20px);
        }

        &__cubes {
            gap: 0;
            margin: 10px 0;
        }
    
        .cube-wrapper {
            scale: 0.5;
        }
    }
}

@media (max-width: 900px) or (max-height: 900px) {
    .history__rounds {
        max-height: 60vh;
    }
}

@media (max-width: 700px) or (max-height: 700px) {
    .history__rounds {
        max-height: 75vh;
    }
}

@media (max-width: 600px) or (max-height: 600px) {
    .history__rounds {
        max-height: 95vh;
    }
}

@media (max-width: 500px) or (max-height: 500px) {
    .history__rounds {
        max-height: 120vh;
    }
}

@media (max-width: 350px) or (max-height: 350px) {
    .history__rounds {
        max-height: 200vh;
    }
}