.status {
    top: 10%;
    left: 50%;
    width: 550px;
    height: 180px;
    font-size: 30px;
    position: absolute;
    text-align: center;
    color: var(--white-50);
    transform: translateX(-50%);
    transition: var(--transition-30);

    img[alt="grunge-border"] {
        z-index: -1;
    }

    &__text {
        top: 50%;
        left: 50%;
        width: 75%;
        margin-top: 5px;
        position: absolute;
        transform: translate(-50%, -50%);
    }
}

@media (min-width: 800px) or (max-width: 1400px) {
    .status {
        transform: translateX(-50%) scale(1);
    }
}

@media (max-width: 800px) {
    .status {
        transform: translateX(-50%) scale(0.8);
    }
}

@media (max-width: 650px) {
    .status {
        transform: translateX(-50%) scale(0.6);
    }
}

@media (max-width: 500px) {
    .status {
        transform: translateX(-50%) scale(0.5);
    }
}

@media (max-width: 390px) {
    .status {
        transform: translateX(-50%) scale(0.4);
    }
}

@media (max-width: 320px) {
    .status {
        transform: translateX(-50%) scale(0.3);
    }
}