.navigator {
    opacity: 0;
    left: 15px;
    bottom: 15px;
    font-size: 30px;
    position: fixed;
    cursor: pointer;
    color: var(--white-50);
    transition: var(--transition-30);

    &:hover {
        opacity: 1;
    }
}