@import './Music/Music.scss';

.amulet {
    right: 0;
    top: 15px;
    z-index: 10;
    height: 55px;
    width: 100px;
    display: flex;
    position: absolute;
    justify-content: center;

    &__text {
        top: 12px;
        right: 50px;
        display: flex;
        position: absolute;
        overflow-x: hidden;

        span {
            opacity: 0;
            z-index: -1;
            width: 200px;
            font-size: 20px;
            transition: 0.3s;
            position: relative;
            transform: translateX(100%);
            color: rgba(255, 255, 255, 0.5);

            &.opening {
                opacity: 1;
                transform: translateX(0px);
            }
    
            &.closing {
                transform: translateX(100%);
            }
        }
    }
}
