@import './Cube/Cube.scss';

.desk {
    gap: 80px 0;
    display: flex;
    padding: 70px;
    overflow-y: auto;
    flex-direction: column;
    max-height: calc(100vh - 300px);

    .hand {
        gap: 10px 0;

        &__header {
            font-size: 30px;
            transition: var(--transition-30);
        }

        &__cubes {
            gap: 0 80px;
            display: flex;
            margin: 50px 0 25px;
        }

        &__rect {
            z-index: -1;
            opacity: 0.9;
            top: -22px !important;
            left: -40px !important;
            height: 80px !important;
            width: calc(100% + 80px) !important;
            transition: filter var(--transition-30);
            filter: drop-shadow(0 5px 5px var(--black-50));
        }

        &--highlight {
            .hand {
                &__rect {
                    filter: drop-shadow(0 5px 5px var(--black-50)) invert(0.6);
                }

                &__header {
                    color: var(--black-50);
                }
            }
        }
    }
}

@-moz-document url-prefix() {
    .desk {
        .hand__rect {
            top: -27px !important;
        }
    }
}

@media (max-width: 860px) or (max-height: 1080px) {
    .desk {
        max-height: calc(90vh);
    }
}

@media (max-width: 690px) or (max-height: 860px) {
    .desk {
        max-height: calc(110vh);
    }
}

@media (max-width: 520px) or (max-height: 690px) {
    .desk {
        max-height: calc(125vh);
    }
}

@media (max-width: 430px) or (max-height: 520px) {
    .desk {
        max-height: calc(135vh);
    }
}

@media (max-width: 350px) or (max-height: 430px) {
    .desk {
        max-height: calc(150vh);
    }
}