@import './Shared/Shared.scss';

.mode {
    gap: 0 200px;
    display: flex;

    &__option {
        position: relative;

        &:hover {
            img {
                opacity: 0.8;
            }
        }
    }

    img {
        opacity: 0.5;
        filter: invert(1);
        transition: var(--transition-30);

        &[alt="grunge-line-1"], &[alt="grunge-line-2"] {
            left: 50%;
            position: absolute;
            top: calc(50% - 10px);
        }

        &[alt="grunge-line-1"] {
            transform: translate(-50%, -50%) rotate(45deg);
        }

        &[alt="grunge-line-2"] {
            transform: translate(-50%, -50%) rotate(-45deg);
        }
    }
}
