@import '../Main/Main.scss', './Menu/Menu.scss';

.layout {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    &__background {
        top: 0;
        left: 0;
        z-index: -1;
        width: 100vw;
        height: 100vh;
        position: absolute;
        transform: scaleX(-1);
        background-size: cover;
        background-image: url('../../../public/images/striga.jpeg');
    }
}
