.confirm {
    &__buttons {
        flex: 1;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    &__button {
        display: flex;
        color: var(--white-50);
        transition: var(--transition-30);

        &:hover {
            color: var(--white-35);
        }
    }
}