.conclusion {
    &__round {
        font-size: 30px;
        margin-top: 10px;
        color: var(--white-50);
    }

    &__pool {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-ranking {
            gap: 10px 0;
            width: 150px;
            display: flex;
            font-size: 25px;
            text-align: center;
            align-items: center;
            flex-direction: column;
            align-self: flex-start;
            color: var(--white-50);
        }
    }

    &__history {
        font-size: 16px;
        color: var(--white-50);
        transition: var(--transition-30);

        &:hover {
            color: var(--white-35);
        }
    }

    &__button {
        font-size: 16px;
        color: var(--white-50);
        transition: var(--transition-30);

        &:hover {
            color: var(--white-35);
        }
    }

    &__hands {
        margin: 20px 0;

        .hand {
            &__header {
                font-size: 20px;
            }

            &__cubes {
                gap: 0;
                margin: 10px 0;
            }

            .cube-wrapper {
                scale: 0.5;
            }
        }
    }

    .hand {
        &__wins {
            top: 35px;
            left: -80px;
            height: 75px;
            opacity: 0.5;
            display: flex;
            font-size: 25px;
            filter: invert(1);
            position: absolute;
    
            &-counter {
                top: 20px;
                font-size: 20px;
                position: absolute;
                left: calc(50% - 4px);
            }
        }
    }
}