@import '../components/Shared/Shared.scss', './animations.scss';

body {
    margin: 0;

    --white-20: rgba(255, 255, 255, 0.2);
    --white-35: rgba(255, 255, 255, 0.35);
    --white-50: rgba(255, 255, 255, 0.5);
    --white-80: rgba(255, 255, 255, 0.8);

    --black-20: rgba(0, 0, 0, 0.2);
    --black-50: rgba(0, 0, 0, 0.5);
    --black-80: rgba(0, 0, 0, 0.8);

    --transition-30: 0.3s;
}