.hand {
    display: flex;
    position: relative;
    flex-direction: column;

    &__header {
        width: 100%;
        display: flex;
        cursor: default;
        text-align: start;
        color: var(--white-50);
        justify-content: space-between;
    }

    &__cubes {
        display: flex;
    }
}