#cursor {
    top: 0;
    left: 0;
    position: fixed;
    z-index: 9999999;
    will-change: transform;
    transform: var(--cursor-position);

    &__rotate {
        transform-origin: -10px -10px;
        transform: rotate(var(--cursor-rotate));
        transition: transform var(--transition-30);

        img {
            top: -15px;
            left: -15px;
            position: absolute;
            opacity: var(--cursor-opacity);
            transition: var(--transition-30);
            transform: rotate(-135deg) scale(var(--cursor-scale));
            filter: invert(1) drop-shadow(0 0 2px var(--black-50));
        }
    }

    &__hint {
        width: 200px;
        height: 70px;
        opacity: 0.9;
        padding: 0 35px;
        position: absolute;
        display: var(--cursor-hint-display);
        top: var(--cursor-hint-position-top);
        left: var(--cursor-hint-position-left);
        filter: drop-shadow(0 0 5px var(--black-50));
    }

    &__text {
        z-index: 1;
        width: 100%;
        height: 100%;
        display: flex;
        font-size: 20px;
        position: relative;
        align-items: center;
        color: var(--white-50);
        justify-content: center;

        &::before {
            content: var(--cursor-hint-text);
        }
    }
}

:root {
    --cursor-scale: 1;
    --cursor-rotate: 0deg;
    --cursor-opacity: 0.5;
    --cursor-hint-text: '';
    --cursor-hint-display: none;
    --cursor-hint-position-top: 10px;
    --cursor-hint-position-left: 10px;
    --cursor-position: translate(0px, 0px);
}

* {
    cursor: none !important;
}